/* Import fonts */
@font-face {
    font-family: Burowai;
    src: url("assets/fonts/burowai/BurowaiRegular-3zVjX.ttf");
    src: url("assets/fonts/burowai/BurowaiRegular-ZVxZq.otf");
    font-display: fallback;
}

@font-face {
    font-family: Gilgongo;
    src: url("assets/fonts/gilgongo/Gilgongo True Type/GILGON__.ttf");
    font-display: fallback;
}

@font-face {
    font-family: "Gilgongo Doro";
    src: url("assets/fonts/gilgongo/Gilgongo True Type/GILGOND_.ttf");
    font-display: fallback;
}

@font-face {
    font-family: "Gilgongo Sledge";
    src: url("assets/fonts/gilgongo/Gilgongo True Type/GILGONS_.ttf");
    font-display: fallback;
}

@font-face {
    font-family: "Rimba Andalas";
    src: url("assets/fonts/rimba-andalas/Rimba Andalas.ttf");
    src: url("assets/fonts/rimba-andalas/Rimba Andalas.otf");
    font-display: fallback;
}

@font-face {
    font-family: "Naluka";
    src: url("assets/fonts/naluka/Naluka.ttf");
    src: url("assets/fonts/naluka/Naluka.otf");
    font-display: fallback;
}

/* Define global variables */
:root {
    --primary-font: Naluka;
    --secondary-font: Gilgongo;
    --accent-font: Burowai;
    --secondary-accent-font: Gilgongo Sledge;
    --tertiary-accent-font: Gilgongo Doro;
    --primary-color: #ffffff;
    --dimmed-primary-color: rgba(255, 255, 255, 0.4);
    --inverted-primary-color: black;
    --standard-border-radius: 10px;

    --yellow-kente-gradient: linear-gradient(180deg,
            #fdf307 0.16%,
            rgba(176, 46, 255, 1) 270.61%),
        url("assets/images/Kente-Pattern-Grayscale-upscaled.png") lightgray 50% / cover no-repeat;

    --page-title-font-size: 4.6875rem;
    --main-font-size: 3.5rem;
    --button-font-size: 3.5rem;
    --large-font-size: 5rem;
    --small-font-size: 2.25rem;
    --important-button-bottom-margin: 5%;
}

/* Define Global Properties */
:root {
    color: var(--primary-color);
    background: #000;
}

/* Define Utility Classes */
.u-no-margin {
    margin: 0;
}

.u-center-text {
    text-align: center;
}

.u-flex-column {
    display: flex;
    flex-direction: column;
}

.u-flex-row {
    display: flex;
    flex-direction: row;
}

.u-align-center {
    align-items: center;
}

.u-align-baseline {
    align-items: baseline;
}

.u-justify-center {
    justify-content: center;
}

.u-hide-overflow {
    overflow: hidden;
}

.u-max-height {
    height: 100vh;
}

.u-pointer-cursor {
    cursor: pointer;
}

.u-remove-underline {
    text-decoration: none;
}

.u-space-between {
    justify-content: space-between;
}

.u-primary-font-family {
    font-family: var(--primary-font);
}

/* Define Global Classes */
.importantButton {
    filter: brightness(150%);
    border-radius: var(--standard-border-radius);
    background: var(--yellow-kente-gradient);
    background-blend-mode: overlay, normal;
    border: 0;
    cursor: pointer;
    box-shadow: 13px 13px 9.5px -4px rgba(0, 0, 0, 0.25);
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 400;

    font-size: var(--button-font-size);
    transition: filter 300ms ease, transform 200ms ease;
    will-change: filter, transform;
}

.importantButton:hover {
    filter: brightness(160%) saturate(1.2) hue-rotate(-20deg);
    transform: scale(1.02);
}

.page-main-title {
    font-family: var(--primary-font);
    font-weight: 400;
    text-transform: uppercase;
    font-size: var(--page-title-font-size);
    text-align: center;

    margin-top: 5.7vh;
    margin-bottom: 2.5vh;
}

.main-page-centered-container {
    height: 100vh;
    align-items: center;
}

body {
    margin: 0;
}