:root {
    --sidebar-float-left: 11vw;
    --sidebar-float-top: 11vw;
    --sideline-float-left: 144px;
}

.LandingPage-leftIndent {
    /* TODO: Could potentially refactor to actually use a vertical line svg file to get round end caps for the vertical line. */
    margin-left: var(--sidebar-float-left);
    margin-top: var(--sidebar-float-top);
    height: 60vh;

    border-left: 2px solid var(--dimmed-primary-color);
    padding-left: 50px
}

/* Background setting trick from https://stackoverflow.com/a/47097353/20791863. */
#LandingPage-mainContainer {
    background-image: url("../assets/images/backgrounds/LandingPage.jpeg");
    background-size: 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#LandingPage-mainContainer::before {
    content: "";
    /* Important */
    z-index: -1;
    /* Important */
    position: inherit;
    left: inherit;
    top: inherit;
    width: inherit;
    height: inherit;
    background-image: inherit;
    background-size: cover;
    filter: brightness(.15) saturate(.8);
}


#LandingPage-mainContentContainer {
    /* Crops the main page content to prevent scrolling */
    position: relative;
}

#LandingPage-title {
    font-family: var(--accent-font);
    font-size: 10.625rem;
    font-weight: normal;
}

#LandingPage-subtitle {
    font-family: 'Gilgongo Sledge';
    font-size: 4rem;
    font-weight: normal;
}

#LandingPage-startButton {
    font-family: 'Rimba Andalas';
    font-size: 3.8125rem;
    vertical-align: middle;

    margin-top: auto;
    width: 235px;
    height: 111px;
    z-index: 2;
}

#LandingPage-startButtonText {
    text-transform: capitalize;
    text-align: center;

    /* Move text up slightly to fix centering problems */
    position: relative;
    bottom: -.5rem
}

#LandingPage-AfricaMap {
    position: absolute;
    right: -275px;
    bottom: -450px;
    transform: rotate(25.175deg);
    z-index: 1;
}