.StandingsPage-teamDisplay {
    font-family: var(--primary-font);
    font-size: var(--main-font-size);
    width: 17rem;
    text-align: center;
    border-bottom: .5rem solid white;
    margin: none;
    margin-bottom: 2rem;
}

.StandingsPage-indicatorTriangle {
    height: 2rem;
    margin-bottom: 1rem;
}

.StandingsPage-teamStandingsContainer {
    align-items: end;
    width: 100%;
    justify-content: space-around;
}

.StandingsPage-categoryIcon {
    height: 4.5rem;
    margin-top: 1rem;
}

.StandingsPage-incompleteCategory {
    /* Change the icon color to white */
    /* Filters computed here: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(107deg) brightness(105%) contrast(101%);
}

.StandingsPage-completedCategory {
    /* Change the icon color to #CDBC78 */
    filter: invert(72%) sepia(37%) saturate(358%) hue-rotate(11deg) brightness(96%) contrast(96%);
}

.StandingsPage-categoryIcon:nth-child(1) {
    margin-top: 0;
}

.StandingsPage-nextPageButton {
    /* Note: just from observation, the font's bottom seems to have built-in padding of font-size/4.*/
    padding-top: calc(var(--button-font-size) / 4);
    padding-bottom: 0;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: auto;
    margin-bottom: var(--important-button-bottom-margin);
}